<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MucMuc"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MucMuc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.music.SonglistActivity"></activity>
        <activity android:name=".ui.music.play.ListplayActivity"></activity>
        <activity android:name=".ui.home.LoginActivity"></activity>
        <activity android:name=".ui.home.SignActivity"></activity>
        <activity android:name=".ui.found.TagActivity"></activity>
        <activity android:name=".ui.music.play.AddCommentActivity"></activity>
        <activity android:name=".ui.music.play.CommentActivity"></activity>
    </application>

</manifest>